p{
   

font-family: bd-retrocentric, sans-serif;
font-family: acumin-pro, sans-serif;
font-style: normal;
 
}

/* #landing-image{
    background: url(https://uhdwallpapers.org/uploads/converted/19/12/30/alpine-scenery-from-kleine-scheidegg-switzerland-1600x900_788958-mm-90.jpg);
    background-position:center ;
    background-size: cover;
    background-repeat: no-repeat;
    height: 50vh;
    flex: 0 1 60vw;
    margin: 0;

} */